@model IEnumerable<CadastroEmpresaTeste.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateEmpresa">Criar Empresa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeFuncionarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeFuncionarios)
            </td>
            <td>
                <a asp-action="UpdateEmpresa" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="DeleteEmpresa" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
